#pulser {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 84px;  /* Actual width*/
	height: 64px; /* and height of the pulsar.*/
	margin-top: -42px; /*set to a negative number 1/2 of your height*/
	margin-left: -32px; /*set to a negative number 1/2 of your width*/
	visibility: hidden;
}

#body {
	background-image: url('../assets/ui/field.png');
	font: 13px/1.231 arial, helvetica, clean, sans-serif;
}

#nojs {
	background-color: white;
	text-align: center;
}

#loadingScreen {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 15%;
}

#loadingProgressBar {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	text-align: center;
	width: 65%;
}

/* Div that covers the entire screen. */
#lacuna, #mainScreen {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}