#pulser {
	position: absolute;
	z-index: 10000; /* Keep at the top of the element "stack". */
	top: 50%;
	left: 50%;
	width: 84px;  /* Actual width*/
	height: 64px; /* and height of the pulsar.*/
	margin-top: -42px; /*set to a negative number 1/2 of your height*/
	margin-left: -32px; /*set to a negative number 1/2 of your width*/
	visibility: hidden;
}

html, body {
	background-image: url('../assets/ui/field.png');

	/* Remove scroll bar - doesn't work on Firefox */
	overflow: hidden;
}

#nojs {
	background-color: white;
	text-align: center;
}

#loadingScreen {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 15%;
}

#loadingProgressBar {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	text-align: center;
	width: 65%;
	line-height: 15px;
	color: black;
}

/* Div that covers the entire screen. */
#lacuna, #mainScreen, #page {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

label {
	width: 150px;
}

/* Remove the point from <li>'s. */
.noDot {
	list-style: none outside none;
}

.textbox, input[type="text"], input[type="password"] {
	width: 250px;
}

.centerEverything {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.centerText {
	text-align: center;
}

.centerTable {
	margin-left: auto;
	margin-right: auto;
}

	/*
		+================+
		|Game UI Elements|
		+================+
	*/

#gameHeader {
	top: 0px;
	height: 55px;
	width: 100%;
	position: fixed;
	background-color: rgb(82, 172, 255); /* Displays if the image doesn't load. */
	z-index: 1000;
}

#gameFooter {
	bottom: 0px;
	height: 55px;
	width: 100%;
	position: fixed;
	background-color: rgb(82, 172, 255); /* Displays if the image doesn't load. */
	z-index: 1000;
}

.buildings-build-timer {
	font-family: impact;
	color: white;
	text-align: right;
	font-size: 120%;
}

.buildings-level-center {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 27.5%;
	left: 27.5%;
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: impact;
	text-align: center;
	line-height: 1;
}

.building-details-num {
	display: inline-block;
	width: 120px;
	text-align: right;
}

.low-resource {
	color: rgb(255, 0, 0);;
}

.small-img {
	display: inline-block;
	width: 25px;
	vertical-align: middle;
	text-align: center;
}

#currentProduction {
	float: left;
	width: 32%;
}

#upgradeProduction {
	margin-left: 1.99%;
	float: left;
	width: 32%;
}

#upgradeCost {
	margin-left: 1.99%;
	float: left;
	width: 32%;
}