<body id="buildingPlanetarycommand">
<script id="building_planetary_command_planet_tab">
<![CDATA[
    
    <ul class="noDot left">
        <li>
            <span class="smallImg"><img class="smallFood" title="Food" src="<%= assetsUrl %>/ui/s/food.png" /></span>
            <span><%= body.food_stored %> / <%= body.food_capacity %> @ <%= body.food_hour %>/hr</span>
        </li>
        <li>
            <span class="smallImg"><img class="smallOre" title="Ore" src="<%= assetsUrl %>/ui/s/ore.png" /></span>
            <span><%= body.ore_stored %> / <%= body.ore_capacity %> @ <%= body.ore_hour %>/hr</span>
        </li>
        <li>
            <span class="smallImg"><img class="smallWater" title="Water" src="<%= assetsUrl %>/ui/s/water.png" /></span>
            <span><%= body.water_stored %> / <%= body.water_capacity %> @ <%= body.water_hour %>/hr</span>
        </li>
        <li>
            <span class="smallImg"><img class="smallEnergy" title="Energy" src="<%= assetsUrl %>/ui/s/energy.png" /></span>
            <span><%= body.energy_stored %> / <%= body.energy_capacity %> @ <%= body.energy_hour %>/hr</span>
        </li>
        <li>
            <span class="smallImg"><img class="smallWaste" title="Waste" src="<%= assetsUrl %>/ui/s/waste.png" /></span>
            <span><%= body.waste_stored %> / <%= body.waste_capacity %> @ <%= body.waste_hour %>/hr</span>
        </li>
        <li>
            <span class="smallImg"><img class="smallHappiness" title="Happiness" src="<%= assetsUrl %>/ui/s/happiness.png" /></span>
            <span><%= body.happiness %> @ <%= body.happiness_hour %>/hr</span>
        </li>
    </ul>

    <ul class="noDot left small-margin">
        <li>
            <span class="fixedWidth">Buildings:</span>
            <span><%= body.building_count %></span>
        </li>
        <li>
            <span class="fixedWidth">Planet Size:</span>
            <span><%= body.size %></span>
        </li>
        <li>
            <span class="fixedWidth">Plots Available:</span>
            <span><%= body.plots_available %></span>
        </li>
        <li>
            <span class="fixedWidth">Population:</span>
            <span><%= population %></span>
        </li>
        <li>
            <span class="fixedWidth">Next Colony Cost:</span>
            <span><%= nextColonyCost %></span>
        </li>
        <li>
            <span class="fixedWidth">Location:</span>
            <span><%= body.x %>, <%= body.y %></span>
        </li>
        <li>
            <span class="fixedWidth">Zone:</span>
            <span><%= body.zone %></span>
        </li>
        <li>
            <span class="fixedWidth">Star:</span>
            <span><%= body.star_name %></span>
        </li>
        <li>
            <span class="fixedWidth">Orbit:</span>
            <span><%= body.orbit %></span>
        </li>
    </ul>
]]>
</script>

<script id="building_planetary_command_abandon_tab">
<![CDATA[
	<button type="button" id="abandonPlanetButton">Abandon <%= name %>!</button>
]]>
</script>

<script id="building_planetary_command_rename_tab">
<![CDATA[
    <label for="renamePlanetInput">New Planet Name:</label>
    <input id="renamePlanetInput" type="text" placeholder="What would you like to name your planet?" />
    <button id="renamePlanetButton" type="button">Rename!</button>
]]>
</script>

<script id="building_planetary_command_plans_none">
<![CDATA[
    <p>These are not the plans you are looking for. Move along.</p>
]]>
</script>

<script id="building_planetary_command_plans_heading">
<![CDATA[
    <ul>
        <li style="width: 100px;" class="left bold">Quantity</li>
        <li style="width: 300px;" class="left bold">Plan</li>
        <li style="width: 50px;"  class="left bold">Level</li>
        <li style="width: 120px;" class="left bold">Extra Build Level</li>
    </ul><br />
    <%= content %>
]]>
</script>

<script id="building_planetary_command_plan">
<![CDATA[
    <ul>
        <li style="width: 100px;" class="left"><%= plan.quantity %></li>
        <li style="width: 300px;" class="left"><%= plan.name %></li>
        <li style="width: 50px;"  class="left"><%= plan.level %></li>
        <li style="width: 120px;" class="left"><%= plan.extra_level || 0 %></li>
    </ul><br />
]]>
</script>
</body>
