<script id="building_planetary_command_planet_tab">
<![CDATA[
    
    <ul class="noDot">
        <li>
            <span class="fixedWidth">Buildings:</span>
            <span><%= buildings %></span>
        </li>
        <li>
            <span class="fixedWidth">Planet Size:</span>
            <span><%= planetSize %></span>
        </li>
        <li>
            <span class="fixedWidth">Plots Available:</span>
            <span><%= plotsAvailable %></span>
        </li>
        <li>
            <span class="fixedWidth">Population:</span>
            <span><%= population %></span>
        </li>
        <li>
            <span class="fixedWidth">Next Colony Cost:</span>
            <span><%= nextColonyCost %></span>
        </li>
        <li>
            <span class="fixedWidth">Location:</span>
            <span><%= location %></span>
        </li>
        <li>
            <span class="fixedWidth">Zone:</span>
            <span><%= zone %></span>
        </li>
        <li>
            <span class="fixedWidth">Star:</span>
            <span><%= star %></span>
        </li>
        <li>
            <span class="fixedWidth">Orbit:</span>
            <span><%= orbit %></span>
        </li>
    </ul>

    <!-- The following is the html from the web client

    <div class="yui-g buildingDetailsExtra">
        <div class="yui-u first">
            <ul>
                <li><span class="smallImg"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/food.png" title="Food" class="smallFood"></span>                <span class="pcStored">35787395390</span><span class="pcSlash">/</span><span class="pcCapacity">35787395390</span> @ <span class="pcPerHour">1.5B</span>/hr</li>
                <li><span class="smallImg"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/ore.png" title="Ore" class="smallOre"></span>                <span class="pcStored">35787395390</span><span class="pcSlash">/</span><span class="pcCapacity">35787395390</span> @ <span class="pcPerHour">4.7B</span>/hr</li>
                <li><span class="smallImg"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/water.png" title="Water" class="smallWater"></span>                <span class="pcStored">35787395390</span><span class="pcSlash">/</span><span class="pcCapacity">35787395390</span> @ <span class="pcPerHour">1.6B</span>/hr</li>
                <li><span class="smallImg"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/energy.png" title="Energy" class="smallEnergy"></span>                <span class="pcStored">35787395390</span><span class="pcSlash">/</span><span class="pcCapacity">35787395390</span> @ <span class="pcPerHour">1.7B</span>/hr</li>
                <li><span class="smallImg"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/waste.png" title="Waste" class="smallWaste"></span>                <span class="pcStored">35939251382</span><span class="pcSlash">/</span><span class="pcCapacity">35939251382</span> @ <span class="pcPerHour">57.8M</span>/hr</li>
                <li><span class="smallImg"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/happiness.png" title="Happiness" class="smallHappy"></span>                <span class="pcStored">259252179173340</span><span class="pcSlash">&nbsp;</span><span class="pcCapacity">&nbsp;</span> @ <span class="pcPerHour">46.1B</span>/hr</li>
            </ul>
        </div>
    </div>
-->
]]>
</script>

<script id="building_planetary_command_abandon_tab">
<![CDATA[
	<button type="button" id="abandonPlanetButton">Abandon <%= name %>!</button>
]]>
</script>

<script id="building_planetary_command_rename_tab">
<![CDATA[
    <label for="renamePlanetInput">New Planet Name:</label>
    <input id="renamePlanetInput" type="text" placeholder="What would you like to name your planet?" />
    <button id="renamePlanetButton" type="button">Rename!</button>
]]>
</script>

<script id="building_planetary_command_plans_none">
<![CDATA[
    <p>These are not the plans you are looking for. Move along.</p>
]]>
</script>

<script id="building_planetary_command_plans_heading">
<![CDATA[
    <ul>
        <li style="width: 100px;" class="left bold">Quantity</li>
        <li style="width: 300px;" class="left bold">Plan</li>
        <li style="width: 50px;"  class="left bold">Level</li>
        <li style="width: 120px;" class="left bold">Extra Build Level</li>
    </ul><br />
    <%= content %>
]]>
</script>

<script id="building_planetary_command_plan">
<![CDATA[
    <ul>
        <li style="width: 100px;" class="left"><%= plan.quantity %></li>
        <li style="width: 300px;" class="left"><%= plan.name %></li>
        <li style="width: 50px;"  class="left"><%= plan.level %></li>
        <li style="width: 120px;" class="left"><%= plan.extra_level || 0 %></li>
    </ul><br />
]]>
</script>
