<script id="building_shipyard_build_queue_item">
<![CDATA[
  Test
]]>
</script>

<script id="building_shipyard_build_ship_item">
<![CDATA[

    <%= ship %><br /><hr /><br />
  


  <!--/*

    <li id="yui-gen624">
    <div class="yui-gb" style="margin-bottom:2px;" id="yui-gen672">
        <div class="yui-u first" style="width:15%;background:transparent url(//d16cbq0l6kkf21.cloudfront.net/assets/star_system/field.png) no-repeat center;text-align:center;">        <img src="//d16cbq0l6kkf21.cloudfront.net/assets/ships/barge.png" style="width:100px;height:100px;" class="shipImage">    </div>
        <div class="yui-u" style="width:63%">
            <span class="shipName">Barge</span>:         
            <div class="shipDesc" style="display: none;">Versatile transport ship. Can be used to push resources between your colonies, trade with other empires, or gather ore from mining platforms. <a href="http://community.lacunaexpanse.com/wiki/barge" target="_blank">More Information on Wiki</a></div>
            <div><label style="font-weight:bold;">Cost:</label>            <span style="white-space:nowrap;"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/food.png" title="Food" class="smallFood">2541</span>            <span style="white-space:nowrap;"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/ore.png" title="Ore" class="smallOre">40273</span>            <span style="white-space:nowrap;"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/water.png" title="Water" class="smallWater">7429</span>            <span style="white-space:nowrap;"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/energy.png" title="Energy" class="smallEnergy">23851</span>            <span style="white-space:nowrap;"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/waste.png" title="Waste" class="smallWaste">4140</span>            <span style="white-space:nowrap;"><img src="//d16cbq0l6kkf21.cloudfront.net/assets/ui/s/time.png" title="Time" class="smallTime">0:15</span>        </div>
            <div><label style="font-weight:bold;">Attributes:</label><span style="white-space:nowrap;margin-left:5px;"><label style="font-style:italic">Speed: </label>5951</span> <span style="white-space:nowrap;margin-left:5px;"><label style="font-style:italic">Berth Level: </label>1</span> <span style="white-space:nowrap;margin-left:5px;"><label style="font-style:italic">Hold Size: </label>470400</span> <span style="white-space:nowrap;margin-left:5px;"><label style="font-style:italic">Max Occupants: </label>1344</span> <span style="white-space:nowrap;margin-left:5px;"><label style="font-style:italic">Combat: </label>0</span> <span style="white-space:nowrap;margin-left:5px;"><label style="font-style:italic">Stealth: </label>13181</span> </div>
        </div>
        <div class="yui-u" style="width:18%"> <input type="text" style="width:25px;" id="ship_barge" value="1"> <button type="button">Build</button></div>
    </div>
    </li>

  */-->
]]>
</script>
</body>
