<script id="building_shipyard_build_queue_tab">
<![CDATA[
  hiya Vas!
]]>
</script>

<script id="building_shipyard_build_queue_item">
<![CDATA[
  Test
]]>
</script>

<script id="building_shipyard_build_ship_tab">
<![CDATA[
  coolio Vas!
]]>
</script>
