<script id="building_shipyard_build_queue_item">
<![CDATA[
  Test
]]>
</script>

<script id="building_shipyard_buildable_container">
<![CDATA[
    <div class="container" id="fleetsBuildableHeader">
        <span>Message about number of ships that can be queued.</span>
        <select>
            <option value="all">All</option>
            <option value="colonization">Colonization</option>
            <option value="intelligence">Intelligence</option>
            <option value="mining">Mining</option>
            <option value="trade">Trade</option>
            <option value="war">War</option>
        </select>

        <div id="fleetsBuildableContainer"></div>
    </div>
]]> 
</script>

<script id="building_shipyard_build_fleet_item">
<![CDATA[
    <li style="margin-bottom: 2px; display: inline-block;">
        <div class="left fleet_view_first">
            <!-- Ship Image -->
            <img style="height: 115px; width: 115px;" src="<%= assetsUrl %>/ships/<%= fleetType %>.png" />
        </div>
        <div class="left small-margin inline-block">
            <label class="bold underline"><%= fleet.type_human %></label>
            <div style="width: 400px;">
                <span class="bold">Cost:</span>
                <span class="smallImg no-wrap"><img class="smallFood" title="Food" src="<%= assetsUrl %>/ui/s/food.png" /><%= fleet.cost.food %></span>
                <span class="smallImg no-wrap"><img class="smallWater" title="Water" src="<%= assetsUrl %>/ui/s/water.png" /><%= fleet.cost.water %></span>
                <span class="smallImg no-wrap"><img class="smallOre" title="Ore" src="<%= assetsUrl %>/ui/s/ore.png" /><%= fleet.cost.ore %></span>
                <span class="smallImg no-wrap"><img class="smallEnergy" title="Energy" src="<%= assetsUrl %>/ui/s/energy.png" /><%= fleet.cost.energy %></span>
                <span class="smallImg no-wrap"><img class="smallWaste" title="Waste" src="<%= assetsUrl %>/ui/s/waste.png" /><%= fleet.cost.waste %></span>
                <span class="smallImg no-wrap"><img class="smallTime" title="Time" src="<%= assetsUrl %>/ui/s/time.png" /><%= library.formatTime(fleet.cost.seconds) %></span>
            </div>
            <div style="width: 400px;">
                <span class="bold">Attributes:</span>
                <span class="small-margin no-wrap"><span class="italic">Berth Level: </span><%= fleet.attributes.berth_level %></span>
                <span class="small-margin no-wrap"><span class="italic">Combat: </span><%= fleet.attributes.combat %></span>
                <span class="small-margin no-wrap"><span class="italic">Hold Size: </span><%= fleet.attributes.hold_size %></span>
                <br />
                <span class="small-margin no-wrap"><span class="italic">Max Occupants: </span><%= fleet.attributes.max_occupants %></span>
                <span class="small-margin no-wrap"><span class="italic">Speed: </span><%= fleet.attributes.speed %></span>
                <span class="small-margin no-wrap"><span class="italic">Stealth: </span><%= fleet.attributes.stealth %></span>
            </div>
        </div>
            <% if (fleet.can) { %>
                <div class="right">
                    <input type="text" value="1" id="<%= fleetType %>_quantity" style="width: 25px;" />
                    <button type="button" id="<%= fleetType %>_button">Build</button>
                </div>
            <% } %>
    </li><br />
]]>
</script>
</body>
