<script id="building_space_port_travelling_tab">
<![CDATA[
  do we really need a 'travelling' tab, since we can filter for that
  on the 'view_all_fleets' tab?
]]>
</script>

<script id="building_space_port_view_toolbar">
<![CDATA[
<li style="margin-top: 3px; line-height: normal;">
<div>TODO: Toolbar with filters, sort options etc. to go here</div>
</li>
]]>
</script>

<script id="building_space_port_view_item">
<![CDATA[
<li style="margin-top: 3px; line-height: normal;">
  <div style="margin-bottom: 2px">
    <div class="fleet_view_first" >
      <img src="<%= assetsUrl %>/ships/<%= fleet.details.type %>.png" title="<%= fleet.details.type_human %>" style="width: 115px; height: 115px;">
    </div>
    <div class="fleet_view_summary">
      <input type="hidden" value="<%= fleet.id %>" />
      <span class="fleet_name"><%= fleet.details.name %>: qty (<%= fleet.quantity %>)</span>
      <span class="fleet_name_input hidden">
        <input class="fleet_new_name" type="text" style="width:120px" class="input_tiny" value="<%= fleet.details.name %>">
        <input class="fleet_rename_quantity" type="text" style="width:25px" class="input_tiny" value="<%= fleet.quantity %>"><br/>
        <button class="fleet_name_rename_button" type="button">Rename</button>
        <button class="fleet_name_cancel_button" type="button">Cancel</button>
      </span><br/>
      <span style="font-weight: bold;">(<%= fleet.task %>)</span>
<% if (fleet.task == 'Travelling') { %>
      <ul class="leaders">
        <li><span>From:</span>          <span><%= fleet.from.name %></span></li>
        <li><span>To:</span>            <span><%= fleet.to.name %></span></li>
        <li><span>Arrives in:</span>    <span>12:43:05</span></li>
        <li><span>Arrives at:</span>    <span><%= Library.formatTime(fleet.date_arrives) %></span></li>
      </ul>
<% } %>
<% if (fleet.task == 'Building') { %>
      <ul class="leaders">
        <li><span>Available:</span>     <span><%= Library.formatTime(fleet.details.date_available) %></span>
      </ul>
<% } %>
<% if (fleet.task == 'Defend') { %>
      <ul class="leaders">
        <li><span>Defending:</span>     <span><%= fleet.to.name %></span></li>
      </ul>
<% } %>
<% if (fleet.details.can_recall) { %>
      <input class="fleet_recall_quantity" type="text" style="width:25px" class="input_tiny" value="<%= fleet.quantity %>">
      <button class="fleet_recall_button" type="button">Recall</button>
<% } %>
<% if (fleet.details.can_scuttle) { %>
      <input class="fleet_scuttle_quantity" type="text" style="width:25px" class="input_tiny" value="<%= fleet.quantity %>">
      <button class="fleet_scuttle_button" type="button">Scuttle</button>
<% } %>
<% if (fleet.earliest_arrival) { %>
      <span>Earliest Arrival: <%= fleet.earliest_arrival.day %>:<%= fleet.earliest_arrival.hour %>:<%= fleet.earliest_arrival.minute %>:<%= fleet.earliest_arrival.second %></span>
      <span class="fleet_earliest_arrival"><%= fleet.earliest_arrival.day %>:<%= fleet.earliest_arrival.hour %>:<%= fleet.earliest_arrival.minute %>:<%= fleet.earliest_arrival.second %></span>
      <input class="fleet_send_quantity" type="text" style="width:25px" class="input_tiny" value="<%= fleet.quantity %>">
      <button class="fleet_send_button" type="button">Send</button>
<% } %>
    </div>
    <div class="fleet_view_summary">
       <ul class="leaders">
        <li><span>Speed:</span>         <span><%= Library.formatNum(fleet.details.speed) %></span></li>
        <li><span>Hold Size:</span>     <span><%= Library.formatNum(fleet.details.hold_size) %></span></li>
        <li><span>Berth Level:</span>   <span><%= Library.formatNum(fleet.details.berth_level) %></span></li>
        <li><span>Occupants:</span>     <span><%= fleet.details.max_occupants %></span></li>
        <li><span>Stealth:</span>       <span><%= Library.formatNum(fleet.details.stealth) %></span></li>
        <li><span>Combat:</span>        <span><%= Library.formatNum(fleet.details.combat) %></span></li>
      </ul>
    </div>
    <div class="fleet_view_summary">
    </div>
    <div class="clear_float"></div>
  </div>
</li>
]]>
</script>

<script id="building_space_port_no_fleets">
<![CDATA[
<li style="margin-top: 3px;">
  <span class="center">You have no ships on this planet.</span>
</li>
]]>
</script>

<script id="building_space_port_no_available_fleets">
<![CDATA[
<li style="margin-top: 3px;">
  <span class="center">You have no ships available to send.</span>
</li>
]]>
</script>


<script id="building_space_port_view_tab">
<![CDATA[
<ul id="fleet_view_details">
</ul>
]]>
</script>

<script id="building_space_port_foreign_tab">
<![CDATA[
<ul id="fleet_foreign_details">
</ul>
]]>
</script>

<script id="building_space_port_send_tab">
<![CDATA[
<%= widget_fleet_send %>
<ul id="fleet_send_details">
</ul>
]]>
</script>


