<script id="building_waste_sequestration_current_storage">
<![CDATA[
    
    <div id="currentStorage">
        <ul class="noDot">
            <li><strong>Current Storage</strong></li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/food.png" title="Food" class="smallFood"></span>
                </span>
                <span class="pcStored"><%= food_capacity %></span>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/ore.png" title="Ore" class="smallOre"></span>
                </span>
                <span class="pcStored"><%= ore_capacity %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/water.png" title="Water" class="smallWater"></span>
                </span>
                <span class="pcStored"><%= water_capacity %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/energy.png" title="Energy" class="smallEnergy"></span>
                </span>
                <span class="pcStored"><%= energy_capacity %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/waste.png" title="Waste" class="smallWaste"></span>
                </span>
                <span class="pcStored"><%= waste_capacity %></span>
            </li>
        </ul>
    </div>

]]>
</script>

<script id="building_waste_sequestration_upgrade_storage">
<![CDATA[
    <div id="upgradeStorage">
        <ul class="noDot">
            <li><strong>Upgraded Storage</strong></li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/food.png" title="Food" class="smallFood"></span>
                </span>
                <span class="pcStored"><%= food_capacity_upgrade %></span>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/ore.png" title="Ore" class="smallOre"></span>
                </span>
                <span class="pcStored"><%= ore_capacity_upgrade %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/water.png" title="Water" class="smallWater"></span>
                </span>
                <span class="pcStored"><%= water_capacity_upgrade %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/energy.png" title="Energy" class="smallEnergy"></span>
                </span>
                <span class="pcStored"><%= energy_capacity_upgrade %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assets_url %>/ui/s/waste.png" title="Waste" class="smallWaste"></span>
                </span>
                <span class="pcStored"><%= waste_capacity_upgrade %></span>
            </li>
        </ul>
    </div>

]]>
</script>

