<script id="building_planetary_command_planet_tab">
<![CDATA[
  hiya Vas!
]]>
</script>

<script id="building_planetary_command_abandon_tab">
<![CDATA[
	<button type="button" id="abandonPlanetButton">Abadon <% name %>!</button>
]]>
</script>

<script id="building_planetary_command_rename_tab">
<![CDATA[
  yay Vas!
]]>
