<script id="building_space_port_travelling_tab">
<![CDATA[
  do we really need a 'travelling' tab, since we can filter for that
  on the 'view_all_fleets' tab?
]]>
</script>


<script id="building_space_port_view_item">
<![CDATA[
<li style="margin-top: 3px; line-height: normal;">
  <div style="margin-bottom: 2px">
    <div class="fleet_view_first" >
      <img src="<%= assetsUrl %>/ships/<%= fleet.details.type %>.png" title="<%= fleet.details.type_human %>" style="width: 115px; height: 115px;">
    </div>
    <div class="fleet_view_summary">
      <span class="fleet_name"><%= fleet.details.name %>:</span>
      <span style="font-weight: bold;">(<%= fleet.task %>)</span>
<% if (fleet.task == 'Travelling') { %>
      <ul class="leaders">
        <li><span>From:</span>          <span><%= fleet.from.name %></span></li>
        <li><span>To:</span>            <span><%= fleet.to.name %></span></li>
        <li><span>Arrives in:</span>    <span>12:43:05</span></li>
        <li><span>Arrives at:</span>    <span><%= Library.formatTime(fleet.date_arrives) %></span></li>
      </ul>
<% } %>
<% if (fleet.task == 'Building') { %>
      <ul class="leaders">
        <li><span>Available:</span>     <span><%= Library.formatTime(fleet.details.date_available) %></span>
      </ul>
<% } %>
<% if (fleet.task == 'Defend') { %>
      <ul class="leaders">
        <li><span>Defending:</span>     <span><%= fleet.to.name %></span></li>
      </ul>
<% } %>
    </div>
    <div class="fleet_view_summary">
       <ul class="leaders">
        <li><span>Speed:</span>         <span><%= Library.formatNum(fleet.details.speed) %></span></li>
        <li><span>Hold Size:</span>     <span><%= Library.formatNum(fleet.details.hold_size) %></span></li>
        <li><span>Berth Level:</span>   <span><%= Library.formatNum(fleet.details.berth_level) %></span></li>
        <li><span>Occupants:</span>     <span><%= fleet.details.max_occupants %></span></li>
        <li><span>Stealth:</span>       <span><%= Library.formatNum(fleet.details.stealth) %></span></li>
        <li><span>Combat:</span>        <span><%= Library.formatNum(fleet.details.combat) %></span></li>
      </ul>
    </div>
    <div class="fleet_view_summary">
    </div>
    <div class="clear_float"></div>
  </div>
</li>
]]>
</script>

<script id="building_space_port_no_ships">
<![CDATA[
<li style="margin-top: 3px;">
  <span class="center">You have no ships on this planet.</span>
</li>
]]>
</script>

<script id="building_space_port_view_list">
<![CDATA[
<ul id="fleetViewDetails">
</ul>
]]>
</script>

