<script id="building_space_port_travelling_tab">
<![CDATA[
  hiya Vas!
]]>
</script>


<script id="building_space_port_view_item">
<![CDATA[
<li style="margin-top: 3px;">
  <div style="margin-bottom: 2px">
    <div class="fleet_view_first" style="background: transparent url(<%= assetsUrl %>/star_system/field.png) no-repeat center; text-align: center;">
      <img src="<%= assetsUrl %>/ships/spy_shuttle.png" title="Spy Shuttle" style="width: 115px; height: 115px;">
    </div>
  </div>
</li>
]]>
</script>


<script id="building_space_port_view_list">
<![CDATA[
<ul id="fleetViewDetails">
  <%= fleet_view_list %>
</ul>
]]>
</script>

