#pulser {
    position: absolute;
    z-index: 10000; /* Keep at the top of the element "stack". */
    top: 50%;
    left: 50%;
    width: 84px;  /* Actual width*/
    height: 64px; /* and height of the pulsar.*/
    margin-top: -42px; /*set to a negative number 1/2 of your height*/
    margin-left: -32px; /*set to a negative number 1/2 of your width*/
    visibility: hidden;
}

html, body {
    background-image: url('//d16cbq0l6kkf21.cloudfront.net/assets/star_system/field.png');

    /* Remove scroll bar - maybe, doesn't seem to work... */
    overflow: hidden;
}

li {
    list-style  : none outside none;
    line-height : normal;
}

#nojs {
    background-color: white;
    text-align: center;
}

#loadingScreen {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
}

#loadingProgressBar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    width: 65%;
    line-height: 15px;
    color: black;
}

/* Div that covers the entire screen. */
#lacuna, #mainScreen, #page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

label, .fixedWidth {
    display: inline-block;
    width: 150px;
}

/* Remove the point from <li>'s. */
.noDot {
    list-style: none outside none;
}

.textbox, input[type="text"], input[type="password"] {
    width: 250px;
}

input.input_tiny {
    height:  10px;
}

.centerEverything {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

.centerTable {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.bold {
    font-weight: bold;
}

.wide {
    width: 100%;
}
.hidden {
    visibility: hidden;
}
    /*
        +================+
        |Game UI Elements|
        +================+
    */

#gameHeader {
    top: 0px;
    height: 55px;
    width: 100%;
    position: fixed;
    background-color: rgb(82, 172, 255); /* Displays if the image doesn't load. */
    z-index: 1000;
}

#gameFooter {
    bottom: 0px;
    height: 55px;
    width: 100%;
    position: fixed;
    background-color: rgb(82, 172, 255); /* Displays if the image doesn't load. */
    z-index: 1000;
    color: #fff;
    font-family: impact,sans-serif;
}

#planetsCenter, #usersCenter {
    height:74px;
    left:50%;
    margin-left:-167px;
    position:absolute;
    text-align:center;
    width:334px;
}
#usersCenter {
    background-image:url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/web/selector_top.png");
    bottom:0;
    z-index:1003;
}
#planetsCenter {
    background-image:url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/web/selector_bottom.png");
    bottom:0;
    z-index:1003;
}
#starsViewport {
    height :    100%;
}
#starsParent {
    height : 20000px;
    width : 20000px;
    position : relative;
    background-image: url('//d16cbq0l6kkf21.cloudfront.net/assets/star_system/field.png');
    background-repeat: repeat;
}
#planets {
    font-size:180%;
    text-decoration:none;
}
#planets {
    display:block;
    height:74px;
    padding-left:20px;
    padding-top:25px;
    text-align:left;
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
}
#planets img {
    vertical-align: top;
    margin-right:10px;
}

#planetsArrow {
    width: 100%;
    height: 100%;
    background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/up.png") no-repeat scroll center 10px transparent;
    position:absolute;
    top:0;
    left:0;
}

.starmap_tile {
    border      : 1px dashed white; 
    color       : #000000; 
    position    : absolute;
    background-image: url('//d16cbq0l6kkf21.cloudfront.net/assets/star_system/field.png');
    background-repeat: repeat;
}

.star_tile, .body_tile {
    position    : absolute; 
    z-index     : 1; 
}
.planet_image, .star_image {
    position    : absolute; 
    top         : 0px; 
    left        : 0px; 
}
.to_starmap, .to_planetmap {
    left: 0px;
}
.to_planetmap {
    visibility: hidden;
}
.inbox {
    left: 60px;
}
.profile {
    left: 120px;
}
.essentia {
    left: 180px;
    line-height: 45px;
}
.destruct {
    left: 280px;
}

.invite {
    right: 300px;
}
.tutorial {
    right: 240px;
}
.support {
    right: 180px;
}
.stats {
    right: 120px;
}
.about {
    right: 60px;
    overflow: visible;
}
.logout {
    right: 0px;
}
.logout img {
    width: 46px;
    height: 45px;
}
.fleet_view_first {
    float           : left;
    margin-bottom   : 10px;
    width           : 140px;
    height          : 115px;
    background      : transparent url('//d16cbq0l6kkf21.cloudfront.net/assets/star_system/field.png') no-repeat center;
    text-align      : center;
}
.fleet_view_summary {
    float           : left; 
    margin-bottom   : 10px; 
    margin-left     : 10px; 
    width           : 170px;
}
.fleet_name {
    font-weight     : bold;
    text-decoration : underline;
    cursor          : hand;
    cursor          : pointer;
}

.clear_float {
    float           : left;
    clear           : both;
}

.smallImg {
    display         : inline-block;
    width           : 25px;
    vertical-align  : middle;
    text-align      : center;
}
.buildingDetailsNum {
    display         : inline-block;
    text-align      : right;
    width           : 120px;
}

.planetMapEfficiencyBarContainer {
    z-index         : 2;
    text-align      : center;
    font-size       : 100%;
    font-family     : impact, sans-serif;
    line-height     : 15px;
    height          : 15px;
    position        : absolute;
    left            : 0px;
    bottom          : 5px;
    border          : 1px solid rgb(153,153,153);
    background-color    : rgb(68,68,68);
}

.planetMapEfficiencyBar {
    z-index         : 2;
    height:         : 100%;
    margin-right    : auto;
    white-space     : nowrap;
}

#header .menuItem, #footer .plots .stored {
    font-size: 200%;
}

#header .menuItem {
    text-align: center;
}
#header .essentia {
    text-align: left;
}
.menuItem {
    display:    inline-block;
    height:     54px;
    color:      rgb(255,255,255);
    min_width:  55px;
    width:      60px;
    position:   absolute;
    padding-top:    5px;
    text-align: left;
    overflow:   hidden;
    cursor:     pointer;
}

.menuPlanetThumb {
    width:35px;
    height:35px;
}

.buildings-build-timer {
    font-family: impact;
    color: white;
    text-align: right;
    font-size: 120%;
}

.buildings-level-center {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 27.5%;
    left: 27.5%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: impact;
    text-align: center;
    line-height: 1;
}
li {
    line-height: normal;
}

ul.leaders {
    max-width   : 170px;
    padding     : 0;
    overflow-x  : hidden;
    list-style  : none;
    margin-top  : 0px;
}
ul.leaders li:before {
    float       : left;
    width       : 0;
    white-space : nowrap;
    content     : "............................................";
}
ul.leaders span:first-child {
    padding-right   : 0.33em;
    background      : white;
}
ul.leaders span + span {
    float       : right;
    padding-left : 0.33em;
    background  : white;
}

.building-details-num {
    display: inline-block;
    width: 120px;
    text-align: right;
}

.low-resource {
    color: rgb(255, 0, 0);;
}

.small-img {
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    text-align: center;
}

#currentProduction {
    float: left;
    width: 32%;
}

#upgradeProduction, #upgradeCost {
    margin-left: 1.99%;
    float: left;
    width: 32%;
}

/* Storage only needs two columns, not three like Production */
#currentStorage {
    float: left;
    width: 40%;
}
#upgradeStorage {
    margin-left: 1.99%;
    float: left;
    width: 40%;
}

/* Cruel hack to make sure the height of panels remains sane. */
.ui-tabs-panel {
    height: 300px;
    overflow: auto;
}

.small-margin {
    margin-left: 2%;
}
