<body id="building">
<script id="building_header">
<![CDATA[
  <div id="buildingDetailsHeaderImage">
    <div style='
      width             : 100px;
      height            : 100px;
      background-image  : <%= background_image %>;
      border-style      : solid;
      border-width      : 1px;
      float             : left;
      '>
      <img src="<%= assets_url %>/planet_side/100/<%= building_image %>.png" title="ID: <%= building_id %>" >
    </div>
  </div>
  <div id="buildingDetailsHeaderText" style="margin-left: 110px; height: 100px;">
    <%= building_desc %>
  </div>
]]>
</script>


<script id="building_repair">
<![CDATA[
  <div id="repairContainer">
    <span id="repairText">Building is currently running at <%= efficiency %>% efficiency. Costs to repair the building are:</span>
    <ul class="noDot">
      <li>
        <span class="smallImg"><img class="smallFood" title="Food" src="<%= assets_url %>/ui/s/food.png"></img></span>
        <span class="buildingDetailsNum"><%= food %></span>
      </li>
      <li>
        <span class="smallImg"><img class="smallOre" title="Ore" src="<%= assets_url %>/ui/s/ore.png"></img></span>
        <span class="buildingDetailsNum"><%= ore %></span>
      </li>
      <li>
        <span class="smallImg"><img class="smallWater" title="Water" src="<%= assets_url %>/ui/s/water.png"></img></span>
        <span class="buildingDetailsNum"><%= water %></span>
      </li>
      <li>
        <span class="smallImg"><img class="smallEnergy" title="Energy" src="<%= assets_url %>/ui/s/energy.png"></img></span>
        <span class="buildingDetailsNum"><%= energy %></span>
      </li>
    </ul>
    <button type="button" id="repairButton_<%= building_id %>">Repair</button>
  </div>
]]>
</script>

<script id="building_current_production">
<![CDATA[
  <div id="currentProduction">
    <ul class="noDot">
      <li>Current Production</li>
      <li>
        <span class="small-img"><img src="<%= assets_url %>/ui/s/food.png" /></span>
        <span class="building-details-num"><%= food_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assets_url %>/ui/s/ore.png" /></span>
        <span class="building-details-num"><%= ore_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assets_url %>/ui/s/water.png" /></span>
        <span class="building-details-num"><%= water_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assets_url %>/ui/s/energy.png" /></span>
        <span class="building-details-num"><%= energy_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assets_url %>/ui/s/waste.png" /></span>
        <span class="building-details-num"><%= waste_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assets_url %>/ui/s/happiness.png" /></span>
        <span class="building-details-num"><%= happiness_hour %>/hr</span>
      </li>
      <li>
        <button type="button" class="wide" id="demolishButton_<%= building_id %>">Demolish</button>
      </li>
    </ul>
  </div>
]]>
</script>

<script id="building_upgrade_production">
<![CDATA[
  <div id="upgradeProduction">
    <ul class="noDot">
      <li>Upgrade Production</li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/food.png" /></span>
        <span class="building-details-num <% print(up_food_bad ? 'low-resource' : ''); %>"><%= up_food_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/ore.png" /></span>
        <span class="building-details-num <% print(up_ore_bad ? 'low-resource' : ''); %>"><%= up_ore_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/water.png" /></span>
        <span class="building-details-num <% print(up_water_bad ? 'low-resource' : ''); %>"><%= up_water_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/energy.png" /></span>
        <span class="building-details-num <% print(up_energy_bad ? 'low-resource' : ''); %>"><%= up_energy_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/waste.png" /></span>
        <span class="building-details-num"><%= up_waste_hour %>/hr</span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/happiness.png" /></span>
        <span class="building-details-num  <% print(up_happy_bad ? 'low-resource' : ''); %>"><%= up_happy_hour %>/hr</span>
      </li>
<% if (can_downgrade) { %>
        <li><button class="wide" type="button" id="downgradeButton_<%= building_id %>">Downgrade to level <%= to_level %></button></li>
<% } else { %>
        <li>
          <div class="ui-state-highlight centerText wide">
            <span class="bold wide">Unable to downgrade:</span><br /><%= downgrade_reason %>
          </div>
        </li>
<% } %>
    </ul>
  </div>
]]>
</script>

<script id="building_upgrade_cost">
<![CDATA[
  <div id="upgradeCost">
    <ul class="noDot">
      <li>Upgrade Cost</li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/food.png" /></span>
        <span class="building-details-num  <% print(up_food_bad ? 'low-resource' : ''); %>"><%= up_food_cost %></span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/ore.png" /></span>
        <span class="building-details-num  <% print(up_ore_bad ? 'low-resource' : ''); %>"><%= up_ore_cost %></span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/water.png" /></span>
        <span class="building-details-num  <% print(up_water_bad ? 'low-resource' : ''); %>"><%= up_water_cost %></span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/energy.png" /></span>
        <span class="building-details-num  <% print(up_energy_bad ? 'low-resource' : ''); %>"><%= up_energy_cost %></span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/waste.png" /></span>
        <span class="building-details-num  <% print(up_waste_bad ? 'low-resource' : ''); %>"><%= up_waste_cost %></span>
      </li>
      <li>
        <span class="small-img"><img src="<%= assetsUrl %>/ui/s/time.png" /></span>
        <span class="building-details-num"><%= up_time_cost %></span>
      </li>
      <li>
<% if (can_upgrade) { %>
        <button class="wide" type="button" id="upgradeButton_<%= building_id %>">Upgrade to level <%= to_level %></button>
<% } else { %>
        <div class="ui-state-highlight centerText wide">
          <span class="bold wide">Unable to upgrade:</span><br /><%= upgrade_reason %>
        </div>
<% } %>
      </li>
    </ul>
  </div>
]]>
</script>

<script id="building_storage_tab">
<![CDATA[
    <div id="currentStorage">
        <ul class="noDot">
            <li>Current Storage</li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/food.png" title="Food" class="smallFood"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.food_capacity) %></span>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/ore.png" title="Ore" class="smallOre"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.ore_capacity) %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/water.png" title="Water" class="smallWater"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.water_capacity) %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/energy.png" title="Energy" class="smallEnergy"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.energy_capacity) %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/waste.png" title="Waste" class="smallWaste"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.waste_capacity) %></span>
            </li>
        </ul>
    </div>

    <div id="upgradeStorage">
        <ul class="noDot">
            <li>Upgraded Storage</li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/food.png" title="Food" class="smallFood"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.upgrade.production.food_capacity) %></span>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/ore.png" title="Ore" class="smallOre"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.upgrade.production.ore_capacity) %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/water.png" title="Water" class="smallWater"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.upgrade.production.water_capacity) %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/energy.png" title="Energy" class="smallEnergy"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.upgrade.production.energy_capacity) %></span>
            </li>
            <li>
                <span class="fixedWidth">
                    <span class="smallImg"><img src="<%= assetsUrl %>/ui/s/waste.png" title="Waste" class="smallWaste"></span>
                </span>
                <span class="pcStored"><%= library.formatNum(vBuilding.upgrade.production.waste_capacity) %></span>
            </li>
        </ul>
    </div>
]]>
</script>
</body>
