<body id="game">
<script id="game_main_screen">
<![CDATA[
  <div id="mainScreen">
    <div id="gameHeader" style="background-image: url('<%= assetsUrl %>/ui/web/bar_top_back.png')">
      <div id="usersCenter">
        <div id="usersArrow"></div>
        <div id="users">Empire Name</div>
        <div id="userMenu" style="position: absolute; visibility: hidden; z-index: 1006;">
          <div class="bd">
            <ul>
              <li><a class="userMenuLabel" href="/starmap/" target="_blank">Alliance Map</a></li>
              <li><a class="userMenuLabel" href="/changes.txt" target="_blank">Changes Log</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile menuItem"><img alt="profile" src="<%= assetsUrl %>/ui/l/profile.png"></img></div>
      <div id="menu_to_starmap" class="to_starmap menuItem"><img alt="Change" src="<%= assetsUrl %>/ui/l/star_map.png"></img></div>

      <div id="menu_to_planetmap" class="to_planetmap menuItem"><img alt="Change" src="<%= assetsUrl %>/ui/l/planet_side.png"></img></div>

      <div class="inbox menuItem"><img src="<%= assetsUrl %>/ui/l/inbox_new.png" title="Inbox" alt="Inbox"></img></div>
      <div class="essentia menuItem"><img src="<%= assetsUrl %>/ui/l/essentia.png" title="Essentia" alt="Essentia"><span>1000</span></div>
      <div class="destruct menuItem"><img src="<%= assetsUrl %>/ui/l/enable_self_destruct.png" title="Destruct" alt="Destruct"></img></div>
      <div class="invite menuItem"><img src="<%= assetsUrl %>/ui/l/invite_friend.png" title="Invite Friend" alt="Invite Friend"></img></div>
      <div class="tutorial menuItem"><img src="<%= assetsUrl %>/ui/l/tutorial.png" title="Tutorial" alt="Tutorial"></img></div>
      <div class="support menuItem"><img src="<%= assetsUrl %>/ui/l/support.png" title="Support" alt="Support"></img></div>
      <div class="stats menuItem"><img src="<%= assetsUrl %>/ui/l/stats.png" title="Stats" alt="Stats"></img></div>
      <div class="about menuItem"><img src="<%= assetsUrl %>/ui/l/about.png" title="About" alt="About"></img></div>
      <div id="menu_logout" class="logout menuItem"><img alt="Logout" title="Logout" src="<%= assetsUrl %>/ui/l/logout.png"></img></div>
    </div>
    <div id="buildingsParent" style="cursor: url('<%= assetsUrl %>/ui/web/openhand.cur'), default;"></div>
    <div id="starsViewport">
      <div id="starsParent" style="position: 'relative', cursor: url('<%= assetsUrl %>/ui/web/openhand.cur'), default;"></div>
    </div>
    <div id="gameFooter" style="background-image: url('<%= assetsUrl %>/ui/web/bar_bottom_back.png')">
      <div id="planetsCenter">
        <div id="planetsArrow">
          <div id="planets"></div>
        </div>
      </div>
    </div>
  </div>
]]>
</script>

<script id="game_menu_planet">
<![CDATA[
  <% if (planet_image) { %>
    <img src="<%= assetsUrl %>/star_system/<%= planet_image %>.png" class="menuPlanetThumb">
  <% } %>
  <span id="planetName"><%= planet_name %></span>
]]>
</script>
</body>
