<script id="mapStar_tile">
<![CDATA[
  <div id="starmap_tile<%= tileId %>" class="starmap_tile" 
    style = "left: <%= absLeft %>px; top: <%= absTop %>px; width: <%= widthPx %>px; height: <%= heightPx %>px;">
    XXXXXXXXXXXXXXXXXXXXXXX  <%= tileId %>  XXXXXXXXXXXXXXXXXXXXXXXXXXXX
  </div>
  <div id="starmap_tile_title<%= tileId %>" style = "color: #ffffff; position: absolute; left: <%= absLeft %>px; top: <%= absTop %>px;">&nbsp; &nbsp; tile <%= tileId %>, <%= x %>|<%= y %></div>
]]>
</script>

<script id="mapStar_star">
<![CDATA[
  <div id="star_tile_<%= id %>" title="<%= name %> (<%= x %>,<%= y %>)" 
    style = "width: <%= tile_width %>; height: <%= tile_height %>; left: <%= tile_left %>px; top: <%= tile_top %>px;"
    class = "star_tile">

    <img src="<%= assetsUrl %>/star_map/<%= star_color %>.png" class "star star_image"
      style = "width: <%= star_width %>px; height: <%= star_height %>px;" />
<% if (star_seized) { %>
    <img src="<%= assetsUrl %>/alliances/<%= alliance_logo %>.png" class="star star_image" 
      style = "width: <%= star_width %>px; height: <%= star_height %>px;" />
<% } %>
  </div>
]]>
</script>

<script id="mapStar_body">
<![CDATA[
  <div id="body_tile_<%= id %>" title="<%= name %> (<%= x %>,<%= y %>)" 
    style = "width: <%= tile_width %>; height: <%= tile_height %>; left: <%= tile_left %>px; top: <%= tile_top %>px;"
    class = "body_tile">

    <img src="<%= assetsUrl %>/star_system/<%= body_image %>.png" class "planet planet<%= body_orbit %> planet_image"
      style = "body_width %>px; height: <%= body_height %>px;" />
<% if (occupied) { %>
    <img src="<%= assetsUrl %>/star_map/<%= allegiance %>.png" class="planet planet_image" 
      style = "width: <%= body_width %>px; height: <%= body_height %>px;" />
<% } %>
  </div>
]]>
</script>

