<script id="mapStar_tile">
<![CDATA[
  <div id="starmap_tile<%= tileId %>" class="starmap_tile" 
    style = "left: <%= absLeft %>px; top: <%= absTop %>px; width: <%= widthPx %>px; height: <%= heightPx %>px;">
    XXXXXXXXXXXXXXXXXXXXXXX  <%= tileId %>  XXXXXXXXXXXXXXXXXXXXXXXXXXXX
  </div>
  <div style = "color: #ffffff; position: absolute; left: <%= absLeft %>px; top: <%= absTop %>px;">&nbsp; &nbsp; tile <%= tileId %>, <%= x %>|<%= y %></div>
]]>
</script>

<script id="mapStar_star">
<![CDATA[
  <div id="star_tile_<%= id %>" title="<%= name %> (<%= x %>,<%= y %>)" 
    style = "position: absolute; z-index: 1; width: <%= tile_width %>; height: <%= tile_height %>; left: <%= tile_left %>px; top: <%= tile_top %>px;"
    class = "tile">
    <div style = "width: <%= tile_width %>px; height: <%= tile_height %>px; position: absolute; top: 0px; left 0px;">
      <img src="<%= assetsUrl %>/star_map/<%= star_color %>.png" class "star"
        style = "width: <%= star_width %>px; height: <%= star_height %>px; margin-top: <%= margin_top %>px;" />
    </div>
<% if (star_seized) { %>
    <div style = "width: <%= tile_width %>px; height: <%= tile_height %>px; position: absolute; top: 0px; left 0px; z-index: 3;">
      <img src="<%= assetsUrl %>/alliances/<%= alliance_logo %>.png" class="star" 
      style = "width: <%= star_width %>px; height: <%= star_height %>px;" />
    </div>
<% } %>
    </div>
  </div>
]]>
</script>

<script id="game_mapStar_planet">
<![CDATA[
  <div id="tile_"<%= x %>_<%= y %> title="<%= name %> (<%= x %>,<%= y %>)" 
    style = "position: absolute; z-index: -5; width: <%= tile_width %>; height: <%= tile_height %>; left: <%= tile_left %>px; top: <%= tile_top %>px;"
    class = "tile">
    <div style = "width: <%= tile_width %>px; height: <%= tile_height %>px; position: absolute; top: 0px; left 0px;">
      <img src="<%= assetsUrl %>/star_system/<%= planet_type %>-<%= planet_orbit %>.png" class "planet planet<%= planet_orbit %>"
        style = "width: <%= planet_width %>px; height: <%= planet_height %>px; margin-top: <%= margin_top %>px;" />
    </div>
<% if (planetOccupied) { %>
    <div style = "width: <%= tile_width %>px; height: <%= tile_height %>px; position: absolute; top: 0px; left 0px;">
      <img src="<%= assetsUrl %>/star_map/<%= planet_allegence %>.png" class="planet" 
      style = "width: <%= planet_width %>px; height: <%= planet_height %>px; margin-top: <%= margin_top %>px;" />
    </div>
<% } %>
    </div>
  </div>
]]>
</script>

